{
    "trailingComma": "none",
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "arrowParens": "avoid",
    "printWidth": 120,
    "endOfLine": "lf",
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
