name: Publish package

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  publish-ghp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com/
          scope: '@lacunahub'
      - run: npm ci
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          scope: '@lacunahub'
      - run: npm ci
      - run: npm run build
      - name: Publish
        run: >
          unset NODE_AUTH_TOKEN &&
          npm publish --access public --provenance
        env:
          NODE_AUTH_TOKEN: ''
